body{
    font-family: "Roboto Condensed", sans-serif;
    background-color: #EFF0F5;
}
.main{
    width: 100%;
}
.head{
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.title{
    width: 100%;
    text-align: center;
}
/*================================   HEADR TOP    =====================================*/
.top-header{
    display: inline-block;
    width: 100%;
    margin: auto;
    background-color: white;
    border-radius: 5px;
    padding-left: 0px;
}
.top-header ul{
    width: 100%;
    margin: auto;
    list-style: none;
    margin-top: 0px;
    padding-left: 0;
    
}
.top-header ul li{
    
    display: inline-block ;
    padding-left: 0px;
    padding-left: 40px;
    
}
.top-header ul li a{
    text-decoration: none;
    font-size: 20px;
    color: #757575;
}
.top-header ul li a img{
    vertical-align: middle;
}
.logo img{
    border-radius: 5px;
    margin-right: -20px;
    font-size-adjust: 50px 50px;
}
.search{
    height: 44px;
    width: 370px;
    background-color: white;
    border-radius: 5px;
}
.search input{
    width: 300px;
    height: 40px;
    border: 0;
    padding-left: 20px;
    font-size: 15px;
    border-radius: 5px;
}
.search button{
    height: 35px;
    border: 0px;
}

/*================================   HEADR MID    =====================================*/
.mid-header{
    display: inline-block;
    width: 1366px;
    margin-left: auto;
    border-radius: 5px;
    text-align: left;
    padding: 15px 0px 0px 0px;
}
.mid-header ul{
    width: 100%;
    margin: auto;
    list-style: none;
    margin-top: 0px;
    margin-left: 0px;
    padding: 0px 0px 15px 0px;
}
.mid-header ul li{
    display: inline-block ;
}
.mid-header ul li a{
    text-decoration: none;
    font-size: 20px;
    color: #757575;
    padding-left: 20px;
    font-family: Roboto,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,sans-serif!important;
}
/*================================   Content    =====================================*/
.content{
    padding: 0;
    width: 1350px;
    height: 800px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 0.5fr 1fr 3fr;
    column-gap: 10px; 
    background-color: white;
}
.content-mid img{
    height: 400px;
    width: 400px;
}
.hinh-nho img{
    height: 70px;
    width: 70px;
    padding: 15px 0px 0px 30px;
}
.hinh-nho2 img{
    height: 70px;
    width: 100px;
    padding: 15px 0px 0px 15px;
}
.content-right-right{
    padding: 0;
    width: auto;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 10px;
    padding-top: 15px;
}
.chu-xanh{
    color: #1a9cb7;
    font-family: Roboto,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,sans-serif!important;
}
.chu-den{
    color: black;
    font-family: Roboto,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,sans-serif!important;
}
.chu-to{
    font-size: 35px;
    color: #f57224;
    font-family: Roboto,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,sans-serif!important;
}
.chu-xam{
    color: #757575;
}
.chu-bu{
    font-size: 25px;
    font-family: Roboto,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,sans-serif!important;
}
ul li{
    list-style-type: none;
    text-decoration: none;
}
ul li a{
    list-style-type: none;
    text-decoration: none;
}
div a{
    list-style-type: none;
    text-decoration: none;
}
.content-right i{
    color: gold;
}
.nut i{
    display: inline-block ;
    height: 22px;
    width: 30px;
    border: 1px solid rgb(190, 190, 190);
    vertical-align: middle;
    text-align: center;
    padding-top: 7px;
}
.nut-ver2{
    height: 20px;
    width: 190px;
    border: 1px solid crimson;
    border-radius: 3px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 10px;
    color: crimson;
    font-family: Roboto,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,sans-serif!important;
}
.nut-ver3{
    height: 20px;
    width: 190px;
    background-color: crimson;
    border: 0;
    border-radius: 3px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 10px;
    color: white;
    font-family: Roboto,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,sans-serif!important;
}